* {
    margin: 0;
    padding: 0;
}

.font {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(38, 33, 129, 1) 0%, rgba(15, 30, 63, 1) 0%, rgba(25, 25, 25, 1) 0%, rgba(25, 25, 25, 1) 41%, rgba(253, 101, 0, 1) 41%, rgba(253, 101, 0, 1) 100%, rgba(84, 121, 201, 1) 100%, rgba(84, 121, 201, 1) 100%, rgba(253, 101, 0, 1) 100%);
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

header {
    .logo {
        width: 15rem;
        max-width: 100%;
        float: left;
    }

    .nav-pc {
        ul {
            list-style: none;
            float: right;

            li {
                display: inline-block;
                padding-top: 1.5rem;

                a {
                    color: #fff;
                    margin-left: 1rem;
                    font-weight: 500;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .search-svg {
                    width: 1rem;
                    margin-left: 1rem;
                }
            }
        }
    }

    .nav-mobile {
        float: right;
        margin-top: 0.8rem;
        .sidenav {
            height: 100%;
            width: 0;
            border-radius: 0 5px 5px 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #FD6500;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 10px 10px 10px 30px;
            text-decoration: none;
            font-size: 20px;
            line-height: 25px;
            color: #f1f1f1;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: black;
            font-size: 25px;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }

    }

}


.home-section-1 {
    padding-top: 5rem;

    h1:nth-child(2) {
        margin-top: -2rem;
    }

    a {
        color: #FFF;
        background: #FD6500;
        padding: 1rem;
    }

    .more-info {
        color: #FD6500;
        padding-left: 2.5rem;
        background: none !important;
    }

    .icon {
        i {
            margin-top: 2rem;
            margin-right: 2rem;
        }
    }

    .col-lg-8 {
        img {
            margin-top: -0.5rem;
        }

        i {
            margin-top: 4rem;
            margin-right: 2rem;
        }
    }
}